<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <h1>presentacion</h1> -->
  <div class="container">
    <svg viewBox="0 0 960 300">
      <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="80%">Grupo</text>
      </symbol>
  
      <g class = "g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
      </g>
    </svg>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-text-center">
          <img src="https://scontent.fuio13-1.fna.fbcdn.net/v/t39.30808-6/290569538_7536180099789725_807169409824143992_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=vNaA0Ne68uoAX_k3RLE&_nc_ht=scontent.fuio13-1.fna&oh=00_AT-1gD3M2bCz_H4oYQV9E9nVTzogW7jB2nhx7NDMFPznRg&oe=62F02E66" />
          <ion-card-header>
            <ion-card-subtitle>Backend Developer</ion-card-subtitle>
            <ion-card-title>José Román</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- descripcion -->
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="ion-text-center">
          <img src="https://scontent.fcue2-1.fna.fbcdn.net/v/t31.18172-8/27908400_1241808085955815_4406826002518993551_o.jpg?stp=dst-jpg_s851x315&_nc_cat=111&ccb=1-7&_nc_sid=da31f3&_nc_ohc=9Zw40HJwCywAX_ydMWo&_nc_ht=scontent.fcue2-1.fna&oh=00_AT_SARi3shoJFTpuSooh9wdcRiq8JnndAIqbhCGqoZEB2Q&oe=6305EF9C" />
          <ion-card-header>
            <ion-card-subtitle>Frontend Developer</ion-card-subtitle>
            <ion-card-title>Gutavo Yanza</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- descripcion -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
